<!--this'll be the landing page. what do I want them to see first-->

<main>
    <div  class="home-container">
        <!--<div class="instructions-other">
            <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
            <h1 slide-dir class="what-this"></h1>
        </div>
    
        <div class="instructions-verse">
            <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
            <h1 slide-dir class="choose-verse"></h1>
            </br>
        </div> -->
    </div>
  
    <div class="welcome">
        <h3 slide-dir class="welcome-word"></h3>
            <div class="raison-contain">
                <div class="raisondetre">
                    <ul>English, Greek, and commentary all on one page</ul>
                    <ul>Presented in an elegant format to enhance your stay here</ul>
                    <ul>(That includes this nice Patagonia 'scape in the background)</ul>
                    <ul>One of two commentaries addresses the linguistic features of the text</ul>
                    <ul>The second commentary touches upon some philosophical topics</ul>
                    <ul>There is resource page for further study</ul>
                    <ul>As well as a tab offering recreations from the rigor of IE linguistics</ul>
                    <!--<ul>more</ul>-->
                </div>
            </div>
    </div>
</main>