

    

<main class="resource-container">

<p class="resource-text">
Robert Beekes, <span>Etymological Dictionary of Greek</span> (Brill, 2010). <br>
William James, <span>Varieties of Religious Experience, in Writings 1902-1910</span> (The Library of America, 1987).<br>
Carl Jung, et al., <span>Man and His Symbols</span>  (Dell, 1984).<br>
Carl Jung, <span>Modern Man in Search of a Soul</span> (HBJ, 1933).<br>
Gerhard Kittel (ed.), Geoffrey W. Bromiley (trans.), <span>Theological Dictionary of the New Testament</span> (Eerdman, 1964-76).<br>
Andrew L. Sihler, <span>New Comparative Grammar of Greek and Latin</span> (Oxford, 1995).<br>
Herbert Weir Smyth, <span>Greek Grammar</span> (Harvard, 1984).<br>
Jacob Wackernagel, <span>Lectures on Syntax: with special reference to Greek, Latin, and Germanic</span> (Oxford, 2009).<br>
Calvert Watkins (ed.), <span>The American Heritage Dictionary of Indo-European Roots</span> (Houghton, Mifflin, Harcourt, 2000).<br>
Andreas Willi, <span>The Languages of Aristophanes: Aspects of Linguistic Variation in Classical Attic Greek</span> (Oxford, 2003).<br>
<i class="fa fa-book" aria-hidden="true"></i>
</p>

</main>
