
<main class="study-break">


<section class="movie-buttons">
    <div movie-dir class="climb">climb</div>
    <div movie-dir class="run">run</div>
    <div movie-dir class="sail">sail</div>
    <div movie-dir class="bravado">bravado</div>
</section>

<div class="ref-arrow">
    <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
    <h1>select a <span id="subject">subject</span> from here</h1>
</div>


<section slide-dir class="movie-container">

   <div class="esc-movie">
       <i class="fa fa-times fa-2x" aria-hidden="true"></i>
       <p class="esc-movie-text">close movie (pause before closing)</p>
   </div>

    <div class="climb-video">
        <iframe width="890" height="500" src="https://www.youtube.com/embed/Phl82D57P58" 
        frameborder="0" allowfullscreen></iframe>
        </div>

    <div class="run-video">
       <iframe src="https://player.vimeo.com/video/128311814" width="890" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="sail-video">
        <iframe width="890" height="500" src="https://www.youtube.com/embed/HOlHyA4J_h8" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="bravado-video">
        <iframe src="https://player.vimeo.com/video/119077452" width="890" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>

</main>