<!--this should answer two questions
    1) the nature of the material
    2) the reason for the website
    -->
<span></span>
<main class="wtf-main">
    <div class="wtf-container">
        <p class="wtf-text">
        I have undertaken to write a commentary on the first chapter of the <span>Epistle to the Hebrews,</span> found in the New Testament. I will be drawing from the <span>Greek text.</span> 

        I have selected this text in this language because it allows me to explore each of my intellectual amores: <span>religion, philosophy, psychology, and linguistics.</span>

        The comments are informal, and at times will properly <span>have nothing to do with the text</span>. The text will simply be a means of sparking some reflection or inspiration however fitting or obscure–maybe a bit like a Rorschach test, or just free-association. For example: in verse 4, the author uses the word όνομα; on seeing that word I felt to reflect upon the <span>syllabic nu in Greek</span>, and also on the epenthetic tau that creeps into words of this class. That <span>doesn’t make a particle of difference</span> in the exegesis of the text, but I comment nonetheless.

        Although it does not relate directly to the interpretation of the text, I do believe a commentary of this sort can add to its enjoyment. A heavily linguistic approach can make stagnant words become vibrant as they are exposed in all their <span>Indo-European complexity and beauty</span>. It’s like getting that new <span>Patagonia soft shell</span> and tracing the genesis of each fabric to its Asian provenance–the jacket is nice, but exploring its creation can be fascinating too.

        <span>This project is foremost a chance at play</span> for me. Just as I’ll scramble in the Flatirons or play pick-up ball, intellectual adventures are a joyous resort. Secondarily, I think it could function as a manual <span>for those interested in learning Greek</span>. Throughout my commentary I will make references to Greek grammars and Indo-European resources, helping the student of Greek to become familiar with these tools for their work with the language.

        A fair-bit of my notes have been and will be composed during breaks and downtime while working my rotation at Trinity Expanded Shale and Clay, making this <span>one of the first commentaries of its kind to be written on the premises of a construction materials mine</span>.

        Apologies in advance for any mistakes. I value precision in these endeavors, but I can’t ensure that I’ll live up to that standard.
        </p>
    </div>
<div class="vertical-wtf">W<br>T<br>F<br></div>

</main>